<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js gt-ie9 ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js gt-ie9"> <!--<![endif]-->
  <head>
    <!--

      Description: Six Degrees Travel
      Version: 0.0.1
      Author: Mina Markham

    //-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- #DNS prefetching -->
    <!-- http://csswizardry.com/2013/01/front-end-performance-for-web-designers-and-front-end-developers -->
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link rel="dns-prefetch" href="//use.typekit.net">
    <link rel="dns-prefetch" href="//google-analytics.com">

    <!-- #Asset Prefetching -->
    <!-- Fetch and Download Assets before requested by the user  -->
    <!-- http://csswizardry.com/2013/01/front-end-performance-for-web-designers-and-front-end-developers/#section:resource-prefetching -->
    <link rel="prefetch" href="">

    <!-- #Page Prefetching -->
    <!-- http://calendar.perfplanet.com/2012/speed-up-your-site-using-prefetching -->
    <link rel="prefetch" href="index.html">

    <!-- #Typekit -->

    <title>Six Degrees Travel. | Your Travel Evolved. One Degree at a Time.</title>
    <meta name="description" content="">
    <meta name="robots" content="all">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, user-scalable=1, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- MS Tap Highlight for Windows Phones -->
    <!-- The tag is specific to Internet Explorer 10 on Windows Phone, and does not apply to Internet Explorer 10 on Windows. -->
    <!-- http://stackoverflow.com/questions/7508100/webkit-tap-highlight-color-in-windows-phone -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Windows 8 Start Tile -->
    <meta name="application-name" content=""/>
    <meta name="msapplication-TileColor" content="#"/>
    <meta name="msapplication-TileImage" content="start.png"/>

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <!-- http://mathiasbynens.be/notes/rel-shortcut-icon -->
    <!-- http://mathiasbynens.be/notes/touch-icons -->

    <!-- CSS, you gotta have style -->
    <link rel="stylesheet" href="static/css/styles.css">

    <!-- Modernizer, cause some browsers suck -->
    <script src="static/js/libs/modernizr.custom.js"></script>

    </head>
  <body>
    <section class="intro">
      <div class="wrapper">
        <nav class="nav">
          <a href="/" class="logo"><img src="static/img/logo.png" alt="Six Degrees Travel"></a>
<!--           <ul>
            <li><a href="">How It Works<a/></li>
            <li><a href="">Sign Up</a></li>
            <li><a href="">Log In</a></li>
          </ul> -->
        </nav>
        <div class="hero-unit">
          <h1>Your Travel Evolved.<br/>One Degree at a Time.</h1>
          <!-- <h3>Join our mailing list and be the first to know when our site launches!</h3> 
          <input type="text" placeholder="Enter email address">-->
          <button class="btn facebook" href="https://www.facebook.com/Six-Degrees-Travel-1518585888399316/?fref=ts">Find us on Facebook!</button>

        </div>
      </div>
    </section>
    <section class="steps">
      <div class="wrapper">
      <h2>Our Mission</h2>
      <p>We all want to travel. The cost of travel can make us feel limited. But what if you used the resources that are often overlooked – your own connections?
Just as we use social media websites for business networking and keeping up with long distance family members or college buddies we do not get to see on a regular basis, why not use your connections to lower the cost of travel accommodations?</p>
      <p>Too often we visit a city, post pictures of our trip, and later get a message from our friend or family member, “You were in town, and didn’t stay with me?” Other times, your loved one says, “I can’t believe I didn’t know you were in town?” </p>
      <p>We lead busy lives. Travel is not always for pleasure. But, with Six Degrees Travel, you can login to your profile, and pull up your map with customized pinned locations of all of your connections. Next time you plan on a business trip, spring break getaway, or bucket list destination, check your map. Use the connections that you have, or your connections’ connections, to get where you need to go. Our website will provide the platform for you and your associates, friends, and family to find free, and low cost alternatives to couch surfing. If you are lucky, your connection might have a vacant cabin, entire room, or house for you to relax and be welcomed. With Six Degrees Travel, you can make travel more affordable and connect with the ones you know while away from home.</p>
      <p>Travel more. Travel smart, and dream big.</p>
    </section>
    <section class="highlight cf">
      <div class="featured-item cf">
        <h2><span>Featured Destination</span></h2>
        <img src="../static/img/Seville.jpg" alt="Seville" height="235px"/>
        <h4>Seville, Spain</h4>
        <p>Seville (Spanish: Sevilla) is the capital of Andalucia and the cultural and financial centre of southern Spain. A city of just over 700,000 inhabitants (1.6 million in the metropolitan area, making it Spain's 4th largest city), Seville is Andalucia's top destination, with much to offer the traveler.</p>
        <p><a href="http://wikitravel.org/en/Seville">More Information</a></p>
        <button class="btn">See How You’re Connected</button>
      </div>
    </section>
    <section class="footer">
      <footer class="footer-ctn">
        <div class="footer-column">
        <h6>Our Team</h6>
        <p>Lisa Martinez, Chief Executive Officer</p>
        <p>Catherine Martinez, Chief Operations Officer</p>
        <p>Mina Markham, Chief Design Officer</p>
        <p>Erik Goodman, Lead Developer</p>
        <p>Sheida Karami, Marketing</p>
        <p>Jennifer Clark, Investment Project Manager</p>
        </div>
<!--         <div class="footer-column">
          <h6>Join Our Newsletter</h6>
          <p>Be the first to know when our site launches.</p>
          <input type="text" placeholder="Enter email address">
        </div> -->
      </footer>
    </section>
    <section class="footer-sub">
      <div class="wrapper">
        <p>Copyright 2015 &copy; Six Degress Travel. <a href="">about</a> | <a href="">contact</a> | <a href="">help</a> | <a href="">terms</a></p>
      </div>
    </section>


    <!-- SCRIPTS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Google Analytics -->

  </body>
</html>
